@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding-top: 33px;
}

.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #383637;
  text-transform: uppercase;
  border-bottom: 2px solid #12304c;
  text-align: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav a {
  color: #59bcff;
}

nav ul li {
  background-color: #252527;
}

nav ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 10px 12px;
  background-color: #383637;
  margin-right: 1px;
  text-decoration: none;
  color: white;
}

nav ul li:hover a {
  color: #59bcff;
}

nav ul li a.home {
  color: #59bcff;
}

.social {
  display: flex;
  margin-left: auto;
}
.social a {
  display: flex;
  align-items: center;
}

.social > * {
  margin-right: 12px;
}
